@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  background-color: #0a0a0a;
  color: white;
  overflow-x: hidden;
}

video {
  pointer-events: none;
}

html,
body {
  height: 100%;
}

video {
  pointer-events: none;
}
